<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Update student</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1 class="page-header">Update Student</h1>

	<form action="/supplier/update/submit" method="post" th:objet="${">
		<div>
			<label for="npm">NPM</label> <input type="text" name="npm"
				readonly="true" th:value="${student.npm}" />

		</div>
		<div>
			<label for="name">Name</label> <input type="text" name="name"
				th:value="${student.name}" />
		</div>
		<div>
			<label for="gpa">GPA</label> <input type="text" name="gpa"
				th:value="${student.gpa}" />
		</div>

		<div>
			<button type="submit" name="action" value="save">Update</button>
		</div>
	</form>

</body>

</html>

